<!DOCTYPE html>
<html lang="ro">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Bivol Alexandru-Ionut">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Magazin dedicat antrenamentelor functionale ce contine fiecare tip de echipament si accesorii folosite in CrossFit.">
  <meta name="keywords" content="forta, cardio, greutate corporala, conditionare, masinarii, oferte speciale, incaltaminte, accesorii, CrossFit, antrenament">
  <title>Magazin CrossFit</title>

  <link rel="icon" type="image/png" href="/public/imagini/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/public/imagini/favicon/favicon.svg" />
  <link rel="shortcut icon" href="/public/imagini/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/public/imagini/favicon/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="Magazin CrossFit" />
  <link rel="manifest" href="/public/imagini/favicon/site.webmanifest" />
  <meta name="msapplication-TileColor" content="#da532c">

  <link rel="stylesheet" href="/public/css/general.css" type="text/css" />
  <link rel="stylesheet" href="/public/css/nav.css" type="text/css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Eater&family=Madimi+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
</head>
<body>
